<div class="wrapper card-profile">
  <div class="card-white">
    <div class="pictureContainer">
      <div class="radius-picture">
        <a href="/profile/edit"><img src="{{user.picture}}" id="profilePic"></img></a>
      </div>
    </div>
      <a href="/profile/edit" class="a-profile"><h1>{{user.username}}</h1></a>
    </div>
</div>
  <div class="row d-flex justify-content-between">

<div class="col-md-2">

</div>
<div class="col-md-8">
<h1 class="favs-title">Cards</h1>
  <div class="row justify-content-center">
    
    {{#each cards}}

    {{>profileGridPartials this}}

    {{/each}}

  </div>
  <h1 class="favs-title">Favorites</h1>
  <div class="row justify-content-center">
  
    {{#each cardsFav}}

    {{>profileGridPartials this}}

    {{/each}}
  </div>


</div>
<div class="col-md-2">
      <h1 class="favs-title">Suggestions</h1>
         {{!-- <div class="row justify-content-around m-1"> --}}
       {{#each suggestions}}
          <div class="d-flex justify-content-between align-content-center m-2">
            <img src="{{picture}}" style="border-radius:50%;height: 50px; width: 50px; " class="a-profile">
            <a href="/profile/{{_id}}">{{username}}</a>
          </div>
           {{!-- <div class="col-3">
            <div style=" background-image: url({{picture}}); border-radius:50%;height: 50px; width: 50px;">
            </div>
           </div>
           <div class="col-9 ">
            <a href="/profile/{{_id}}" class="">{{username}}</a>
            </div> --}}
       {{/each}}
            </div>
  </div>
</div>

</div>

</div>

</div>

