<section class="card-view">


  <div class="card-holder">

    <div class="element-info hide">
      <p class="element-info-text"></p>
    </div>

    <figure class="card">
      <div class="background-image" id="{{picFound.nasaDes}}" value="{{picFound.nasaDes}}"
        style='background-image: url("{{picFound.imgPath}}")'></div>
      {{#each picFound.elements}}
      <div
        style='background: url("{{path}}")center no-repeat; top:{{posy}}%;left:{{posx}}%; height:{{height}}%; width:{{width}}%;'
        class='planets' id="{{nasaDes}}"></div>

      {{/each}}
    </figure>
  </div>

  <div class="card-supplement">

    <article class="owner-header">
      <h4>{{picFound.userID.username}}</h4>
      <h6>{{picFound.text}}</h6>
      <form action="/card/fav/{{picFound._id}}" method="POST">
        <button class="normal-button like"></button>
      </form>
    </article>

    <article>

      <form action="/card/delete/{{picFound._id}}" method="POST">
        {{#if checkUser}}
        <button class="normal-button">Delete</button>
        {{/if}}
      </form>
    </article>

    <article class="comments-article">
      <h3 class="comment-header">Comments</h3>

      <form action="/card/{{picFound._id}}" method="POST">
        <input class="message-for-friend" class="comment" name="comment" type="text" placeholder="Add your comment">
        <button class="normal-button submit">Submit</button>
      </form>


      <div class="comment-list">
        {{#each picFound.comments}}

        <div class="comment-container">
          <h5>{{userID.username}}</h5>

          <h6>{{commentText}}</h6>
        </div>

        {{/each}}
      </div>
    </article>

    <article class="container-to-share">

      <h4>Share with a friend!</h4>
      <form action="send/{{_id}}" method="POST">
        <input class="message-for-friend" name="message" type="text" placeholder="Type a message to your friend!">
        <input class="email-to-share" name="friendEmail" type="text" placeholder="type your friends email!">
        <button id="shareCard"></button>
      </form>

    </article>

    <p class="message-to-user"></p>
  </div>

  </div>

</section>